.header{
    display: flex;
    gap: 20px;
}
.nav-list{
    display: flex;
    gap: 20px;
}

.galery{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.item{
    display: flex;
    /* width: auto; */
}
.item > img{
    width: 70vw;
}
.item > div{
    width: 500px;
}
.month-title{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

/* identical to box height */
    text-transform: uppercase;

/* White */
    color: black;
}