.header{
    display: flex;
    gap: 20px;
}
.nav-list{
    display: flex;
    gap: 20px;
}

.galery{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.item{
    display: flex;
    /* width: auto; */
}
.item > img{
    width: 70vw;
}
.item > div{
    width: 500px;
}